build*
**.log
**/.*.sw*
**/core.*
**vitis*
**vivado*
**/.Xil
**/.nfs*
reports_dir
xpe_dir

# x86sim
x86simulator_output/

# aiesim
pl_sample_count*
.AIE_SIM_CMD_LINE_OPTIONS
aiesimulator_output/

# external data
data/MNIST
data/k*_goldenout*.txt
data/k*_in*.txt
data/input*.txt

# python
*.pyc
*.pkl
*.onnx
data/mnist_*.txt
data/lenet_mnist*.txt

# docs
docs/

# models
models/

# generated lenet_mnist
design/aie_src/graph_lenet_mnist*.cpp
design/host_app_src/lenet_mnist*_aie_app.cpp
design/system_configs/lenet_mnist*.cfg
design/system_configs/lenet_mnist*_output_inter.cfg
design/trafficgen/xtg_lenet_mnist*.py
design/trafficgen/xtg_lenet_mnist*_output_inter.py

out*/