build*
**.log
**/.*.sw*
**/core.*
**vitis*
**vivado*
**/.Xil
**/.nfs*
reports_dir
xpe_dir

# x86sim
x86simulator_output/

# aiesim
pl_sample_count*
.AIE_SIM_CMD_LINE_OPTIONS
aiesimulator_output/

# external data
data/MNIST
data/k*_goldenout*.txt
data/k*_in*.txt
data/input*.txt
data/fc*
*.npy

# python
*.pyc
*.pkl
*.onnx
data/mnist_*.txt
data/lenet_mnist*.txt

# docs
docs/

# models
models/

# generated examples
design/aie_src/graph_lenet_mnist*.cpp
design/aie_src/graph_hls4ml*.cpp
design/host_app_src/lenet_mnist*
design/host_app_src/hls4ml*
design/system_configs/lenet_mnist*
design/system_configs/hls4ml*
design/trafficgen/xtg_lenet_mnist*
design/trafficgen/xtg_hls4ml*

out*/