build*
**.log
**/.*.sw*
**/core.*
**vitis*
**vivado*
**/.Xil
**/.nfs*
reports_dir
xpe_dir

# x86sim
x86simulator_output/

# aiesim
pl_sample_count*
.AIE_SIM_CMD_LINE_OPTIONS
aiesimulator_output/

# external data
data/MNIST
data/*_goldenout.txt
data/*_in.txt
data/input.txt

# python
*.pyc
*.pkl
*.onnx
data/mnist_*.txt
data/lenet_mnist*.txt

# docs
docs/